@model appbeneficiencia.Models.Patrocinadore
<!--Vista eliminar patrocinadores-->
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro de eliminar un patrocinador?</h3>
<div>
    <h4>Patrocinadore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPatrocinador" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
