@model appbeneficiencia.Models.Patrocinadore

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Patrocinadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div class="btn-group">
    <a asp-action="Edit" asp-route-id="@Model?.IdPatrocinador" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
