@model IEnumerable<appbeneficiencia.Models.Patrocinadore>
<!--Vista patrocinadores-->
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Listado de Patrocinadores</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CodigoReferencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CodigoPais)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaRegistro)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoReferencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoPais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaRegistro)
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@item.IdPatrocinador" class="btn btn-primary">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.IdPatrocinador" class="btn btn-info">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.IdPatrocinador" class="btn btn-danger">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
