@model appbeneficiencia.Models.PadresDeFamilium

@{
    ViewData["Title"] = "Eliminar PadresFamilia";
}

<div>
    <h4>Padres De Familia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dpipadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dpipadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompletoPadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompletoPadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoPadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dpimadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dpimadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompletoMadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompletoMadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoMadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoMadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionSecundaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionSecundaria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPadre" />
        <br />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-info">Regresar</a>
    </form>
</div>
