@model IEnumerable<appbeneficiencia.Models.PadresDeFamilium>

@{
    ViewData["Title"] = "Padres";
}

<h1>Registro Padres de Familia</h1>

<p>
    <style>
        .btn-no-underline {
            text-decoration: none;
        }
    </style>

    <button type="button" class="btn btn-outline-info">
        <a asp-action="Create" class="btn-no-underline"> Nuevo Registro </a>
    </button>

</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="custom-dpi-padre">
                    No. DPI Padre
                </th>
                <th class="custom-nombre-padre">
                    Nombre Padre
                </th>
                <th class="custom-telefono-padre">
                    No. Tel. Padre
                </th>
                <th class="custom-dpi-madre">
                    No. DPI Madre
                </th>
                <th class="custom-nombre-Madre">
                    Nombre Madre
                </th>
                <th class="custom-tel-madre">
                    No. Tel. Madre
                </th>
                <th class="custom-direccion-principal">
                    Dirección Principal
                </th>
                <th class="custom-direccion-secundaria">
                    Dirección Secundaria
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dpipadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompletoPadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefonoPadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dpimadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompletoMadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefonoMadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DireccionPrincipal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DireccionSecundaria)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.IdPadre" class="btn btn-outline-success">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdPadre" class="btn btn-outline-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.IdPadre" class="btn btn-outline-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
