@model IEnumerable<appbeneficiencia.Models.Colaboradore>
<!--Vista colaboradores-->
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Informacion Colaboradores</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre Completo
                    </th>
                    <th>
                        Profesión
                    </th>
                    <th>
                        DPI
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Fecha de Nacimiento
                    </th>
                    <th>
                        Género
                    </th>
                    <th>
                        Puesto
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profesion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dpi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaNacimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPuestoNavigation.NombrePuesto)
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Actions">
                                <a asp-action="Edit" asp-route-id="@item.IdColaborador" class="btn btn-primary">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.IdColaborador" class="btn btn-info">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.IdColaborador" class="btn btn-danger">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
