@model IEnumerable<appbeneficiencia.Models.Puesto>
<!--Vista puestos-->
@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Puestos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del Puesto
            </th>
            <th>
                Fecha de Creación
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a asp-action="Edit" asp-route-id="@item.IdPuesto" class="btn btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdPuesto" class="btn btn-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.IdPuesto" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
