@model appbeneficiencia.Models.AsignacionBeneficio
<!--Vista detalles asignacion-->
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AsignacionBeneficio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionBeneficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionBeneficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsignacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsignacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dpi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dpi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentesco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBeneficiarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBeneficiarioNavigation.IdBeneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBeneficioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBeneficioNavigation.IdBeneficio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAsignacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
