@model appbeneficiencia.Models.Beneficio

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Beneficio</h1>

<div>
    <h4>Beneficio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleBeneficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleBeneficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPatrocinadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPatrocinadorNavigation.IdPatrocinador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBeneficio" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
