@model appbeneficiencia.Models.Beneficiario

@{
    ViewData["Title"] = "Detalles del Beneficiario";
}

<div class="container mt-4">
    <h1>Detalles del Beneficiario</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Información del Beneficiario</h2>
            <dl class="row">
                <dt class="col-sm-4">Nombre Completo</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreCompleto)</dd>
                <dt class="col-sm-4">Fecha de Nacimiento</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaNacimiento)</dd>
                <dt class="col-sm-4">Edad</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Edad)</dd>
                <dt class="col-sm-4">Género</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Genero)</dd>
                <dt class="col-sm-4">Dirección</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Direccion)</dd>
                <dt class="col-sm-4">Teléfono Beneficiario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TelefonoBeneficiario)</dd>
                <dt class="col-sm-4">Código Beneficiario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CodigoBeneficiario)</dd>
                <dt class="col-sm-4">Nivel</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Nivel)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h2>Información de los Padres</h2>
            <dl class="row">
                <dt class="col-sm-4">Nombre del Padre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NombrePadre)</dd>
                <dt class="col-sm-4">DPI del Padre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Dpipadre)</dd>
                <dt class="col-sm-4">Teléfono del Padre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TelefonoPadre)</dd>
                <dt class="col-sm-4">Dirección del Padre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DireccionPadre)</dd>
                <dt class="col-sm-4">Nombre de la Madre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NombreMadre)</dd>
                <dt class="col-sm-4">DPI de la Madre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Dpimadre)</dd>
                <dt class="col-sm-4">Teléfono de la Madre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TelefonoMadre)</dd>
                <dt class="col-sm-4">Dirección de la Madre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DireccionMadre)</dd>
                <dt class="col-sm-4">Teléfono Principal</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TelefonoPrincipal)</dd>
                <dt class="col-sm-4">Teléfono Secundario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TelefonoSecundario)</dd>
                <dt class="col-sm-4">Estado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Estado)</dd>
                <dt class="col-sm-4">ID de Colaborador</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdColaboradorNavigation.NombreCompleto)</dd>
            </dl>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <a asp-action="Edit" asp-route-id="@Model?.IdBeneficiario" class="btn btn-primary">Editar</a> |
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>



