@model IEnumerable<appbeneficiencia.Models.Beneficiario>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Datos Relevantes del Beneficiario</h1>

            <p>
                <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
            </p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Edad</th>
                            <th>Género</th>
                            <th>Dirección</th>
                            <th>Teléfono Beneficiario</th>
                            <th>Estado</th>
                            <th>Nivel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                                <td>@Html.DisplayFor(modelItem => item.Edad)</td>
                                <td>@Html.DisplayFor(modelItem => item.Genero)</td>
                                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                                <td>@Html.DisplayFor(modelItem => item.TelefonoBeneficiario)</td>
                                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nivel)</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Acciones">
                                        <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.IdBeneficiario">Actualizar</a>
                                        <a asp-action="Details" class="btn btn-success" asp-route-id="@item.IdBeneficiario">Detalles</a>
                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdBeneficiario">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

