@model IEnumerable<appbeneficiencia.Models.Beneficiario>

@{
    ViewData["Title"] = "Participantes";
}

<h1>Registro Participantes</h1>

<p>
    <style>
        .btn-no-underline {
            text-decoration: none;
        }
    </style>

    <button type="button" class="btn btn-outline-info">
        <a asp-action="Create" class="btn-no-underline"> Nuevo Registro </a>
    </button>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="custom-nombre-completo">
                    Participante
                </th>
                <th class="custom-fecha-nacimiento">
                    Fec.Nacimiento
                </th>
                <th class="custom-genero">
                    Género
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Cod. Beneficiario
                </th>
                <th>
                    Nivel
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Colaborador
                </th>
                <th>
                    Nombre Padre
                </th>
                <th>
                    Nombre Madre
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="custom-nombre-completo">
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td class="custom-fecha-nacimiento">
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td class="custom-genero">
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoBeneficiario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdColaboradorNavigation.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPadreNavigation.NombreCompletoPadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPadreNavigation.NombreCompletoMadre)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.IdBeneficiario" class="btn btn-outline-success">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdBeneficiario" class="btn btn-outline-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.IdBeneficiario" class="btn btn-outline-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
